*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: x-large;
    background-color: black;
    color: aliceblue;
}

h1{
    text-align: center;
    margin-top: 50px;
}

body>div{
    margin: 50px;
    text-align: center;
}
button{
    margin-top: 10px;
    padding: 5px;
    text-align: center;
}

.card{
    border: 5px solid aliceblue;
    width:50%;
    justify-self: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap:30px;
    padding:10px;
}

.semantics{
    display:flex;
    justify-content:center;
    gap:10px;
}
